doctype html
html
  head
    title Dorin Dumitrascuta - Web Developer
    link(href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet")
    link(href="style.css" rel="stylesheet" type="text/css")
  body
    main
      h1 Dorin Dumitrascuta - Front End Designer
      .hero
        .image
      hr
      h2 Experience
      ul
        li 2017 - 2018 Digital Product Manager
        li 2017 Assistant Producer, game development
        li 2018 - Junior Web Developer, BitBee
      h2 Personal Statement
      p Darling, you're in London. WEBDEV?